[user]
	email = dev@onose.ws
	name = Ryosuke Onose
[core]
	editor = vim
[merge]
	ff = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
	prompt = false
[difftool]
	prompt = false
[pull]
	ff = only
[safe]
	directory = /home/onose/ghq/github.com/onose004/nu-photo-studio
	directory = /home/onose/ghq/github.com/onose004/nu-photo-studio
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
